<!-- Footer -->
<footer>
      <div class="container-fluid bg-dark text-white text-center footer-container">
         <div class="row">
            <div class="col-md-4 mt-3">
               <a href="{% url 'termsAndConditions' %}" class="mt-5 mb-2 footer-link">Terms and Conditions</a><br>
               <!-- <a href="{% url 'privacyPolicy' %}" class="my-2 footer-link">Privacy Policy</a><br>
               <a href="{% url 'cookiePolicy' %}" class="my-2 footer-link">Cookie Policy</a><br> -->
            </div>
         </div>
         <div class="row">
            <div class="col-md-4 text-center">
               <!-- <a href="#">
                  <i class="fab fa-cc-stripe"></i>
               </a> -->
               <a href="#">
                     <i class="fab fa-facebook"></i>
                  </a>
                  <a href="#">
                     <i class="fab fa-instagram"></i>
                  </a>
               <!-- <a href="#">
                  <i class="fab fa-cc-paypal"></i>
               </a> -->
            </div>
            <div class="col-md-4 text-center">
               <p class="footer-text"> Copyright &copy; Premier Competitions Limited</p>
            </div>
            <div class="col-md-4 text-center">
               <a href="#">
                     <i class="fab fa-cc-visa"></i>
                  </a>
                  <a href="#">
                     <i class="fab fa-cc-mastercard mb-3"></i>
                  </a>
            </div>
         </div>
      </div>
   </footer>