{% extends 'base.html' %}

{% block title %} | Terms and Conditions {% endblock %}

{% block content %}
   
   <section id="terms-showcase-inner" class="py-5 text-white">
         <div class="container">
            <div class="row text-center">
               <div class="col-md-12">
               <h1 class="display-4 page-heading">Terms and Conditions</h1>
               </div>
            </div>
         </div>
         </section>

   <section id="terms-and-conditions">
      <div class="container">
         <div class="row">
            <div class="col">    
               <h4 class="mt-5 text-center">Premier Competitions Limited  – Operator of skill based competitions which results in allocation of prizes</h4>
               <p> 
                  ​<h4>Definitions</h4>
                  <br>
                  PROMOTOR: Premier Competitions Limited
                  <br><br>
                  PRIZE: The promoter may operate multiple competitions at any one time, each competition will have one specific ‘prize’.
                  <br><br>
                  QUESTIONS: The Questions which the Entrants must use skill or knowledge to answer correctly (in line with the answer held by the Promoters) to obtain an opportunity to win the Prize.
                  <br><br>
                  ENTRY: The correct answer must be submitted for each question, along with any fee due for the respective competition. Payment must be made in Euro (also known as EUR or €) and can be made either by the entrant or on behalf of the entrant. Entries can also be made by the free entry route outlined in section 4.8-4.9
                  <br><br>
                  ENTRANT: Any person who enters the Competition through the Website or free entry method see Para 4.8/4.9
                  <br><br>
                  WINNER: The Entrant chosen at random before or after the Closing Date who will receive the Prize in accordance with these Terms and Conditions. Proof of identity must be provided upon collection of the prize and MUST match that of the details provided when entering the respective competition.
                  <br><br>
                  MAXIMUM NUMBER OF ENTRIES​​ : As stated on each product page.
                  <br>
                  Each competition will close once the maximum number of entries has been reached for the respective competition, and a draw date will be announced within 48 hours. The prize(s) may still be awarded at the sole discretion of the promoter if the number of paid entries at the time of closing the competition does not reach the Maximum Number of Paid Entries, but is nevertheless is deemed by the promoter as sufficient.
                  <br><br>
                  WEBSITE – www.premiercompetitions.ie
                  <br>
                  <br>
                  <h4>1. General</h4>
                  <br>
                  <ol>
                     <li>By entering the competition via the Website, Entrants are deemed to have read and accepted these Terms and Conditions and agrees to be bound by them;</li>
                     <li>Upon entering the Competition, all Entrants must submit all contact details as requested by the Promoter (which must include and not limited to valid e-mail address and phone number) which will be used for the following purposes:
                        <br>
                        (a) to notify the Winner that they have won the prize;
                        <br>
                        (b) to post the Winner’s name and town of residence on the Website
                        <br>
                        (c) to comply with the Privacy Policy.
                     </li>
                     <li> All entrants are solely and completely responsible for providing and maintaining the Promoter with accurate contact details.</li>
                     <li> The Promoter will be in no way liable for any failure or inability to make contact with any Entrant due to any errors or inaccuracies in the contact details provided by the Entrants..</li>
                  </ol>
                  <br>
                  <h4>2. Privacy Policy</h4>
                  <br>
                  <ol>
                     <li>
                        The Entrants and the Promoter recognise that the Promoter may use contact details and other data including personal data as defined by the Data Protection Act 1998 supplied by the Entrants to the Promoter to administer the Website and conduct the Competition according to these Terms and Conditions.
                     </li>
                     <li>
                        The Entrants and the Promoter also recognise that the Promoter may (either by choice or at the request of a third party) also disclose this information to relevant third parties for the purposes of the prevention of fraud, money laundering, legal or other financial or regulatory reasons.
                     </li>
                  </ol>
                  <br>
                  <h4>3. Competition</h4>
                  <br>
                  <ol>
                  <li>
                     The Competition is operated by the Promoter.
                  </li>
                  <li>
                     The Competition is open for entry to all persons aged 18 or over excluding the Promoters, their family, professional advisers or anyone else connected with the development or operation of the Website or conducts administration of the Competition in any way, shape or form.
                  </li>
                  <li>
                     By entering into the Competition, all Entrants acknowledge that their payment for each entry to answer the Question and thereby enter the Competition does not guarantee in any way that they will win the prize.
                  </li> ​
                  <li>
                     The Promoter do not in any way guarantee the value of the Prize, it’s condition or roadworthiness at the time the prize is exchanged with the winning entrant.
                  </li>
                  <li>
                        Only completed Entries which contain the correct answer as held by the Promoter will be entered into the Competition. Failure to answer any question correctly via the website will still result in any entrant being charged.
                  </li>
                  <li>
                        As a condition of entering the Competition, Entrants must ensure that, by doing so, they do not contravene any laws of their country of residence. The Promoter will not be liable in any way if an Entrant enters the Competition unlawfully;
                  </li>
                  <li>
                        The Entrants and the Promoter recognise that the Competition, its administration and all associated activities Competitions are governed by Irish Law and any matters relating to the competition will be resolved under Irish Law and the courts of Ireland shall have exclusive jurisdiction.
                  </li>
                  <li>
                        The Promoter reserves the right to refuse or disqualify any entrant if it has reasonable grounds for believing that an entrant has contravened any of these terms and conditions or acted in a way that is reasonably considered by the Promoter to be illegal.
                  </li>
                  <li>
                        All Entries will become the property of the Promoter on receipt and will not be returned.
                  </li>
                  <li>
                        Should any competition conclude early either a cash prize will be offered that is equivalent to 70% of the entry fees taken for that particular competition OR store credit will be issued to the value of the entries purchased by the winning entrant.
                  </li>  
               </ol>                
                  <br>
                  <h4>4. Entry</h4>
                  <ol>
                     <li>
                           In answering the Question, the Entrant recognises that they must exercise skill, Knowledge and judgement to give the correct Answers; 
                     </li>
                     <li>
                           A maximum of 20 entries are permitted for any natural or legal person for each competition
                     </li>
                     <li>
                           To conclude an entry into the Competition, an Entrant will be asked to provide their contact details (including postal and e-mail addresses and a telephone number) and card payment details (for entry fee only). Once the Entry is submitted, the Entrant’s card payment will be electronically approved.
                     </li>
                     <li>
                           When the Maximum Number Of Entries and/or the Closing Date is reached, the Competition will close; however the Promoter reserves the right to extend the closing date by up to 6 weeks at its discretion.
                     </li>
                     <li>
                           All Entries to the Competition are final and no refunds shall be made at any time or for any reason, except in the case of entries submitted after the Closing Date or if the Promoter cancels the competition.
                     </li>
                     <li>
                           The Promoter’s decision is final and no correspondence will be entered into about the result of the Competition following the determination of the Winner as described above.
                     </li>
                     <li>
                           Each Entrant agrees that the usual requirement under the Consumer Protection(Distance Selling) Regulations 2000 for any goods and services ordered online to be supplied within 30 days will not apply to this Prize Competition.
                     </li>
                  </ol>               
                  <br>
                  <h4>5. Closing the Competition</h4>
                  <ol>
                     <li>
                           If the Number of Entries to the Competition does not exceed the maximum number of entries at the closing date, the Competition will either close and the proceeds will either be deemed sufficient to award the competiton product as a prize at the sole discretion of the Promoter , or the remaining funds will be allocated as a cash prize to a winner after the deduction of any expenses and marketing fees.
                     </li>
                     <li>
                           The Promoter will be entitled to retain 30% of the Entry Fees to cover administration. The remaining balance following deduction of the 30% plus expenses (marketing, payment solutions , legal fees , website hosting) is “the Prize Fund”. The Prize Fund will then be offered to the winning Entrant;
                     </li>
                     <li>
                           If the Winner cannot be contacted by the Promoter within 7 days of being notified of their status as the Winner by e-mail, telephone, facebook or mail via the contact details submitted along with their entry, then the Promoter reserves the right to then select an Alternate winner, who will then have 7 days to accept the prize following the same routes of contact as the original Winner. The original winner will have no claim to the prize after the Alternate Winner is selected
                     </li>
                  </ol>
                  <br>
                  <h4>6. Contest/Selecting the Winner</h4>
                  <ol>
                     <li>
                           The winning Entrant will be selected at Random using Google Random Number Generator live on Facebook.                        
                     </li>
                     <li>
                           Full details of the draw date/time will be confirmed once the competition has been concluded via Facebook and or our website. This decision will be made within 48 hours of the close of the competition.
                     </li>
                     <li>
                           Entry lists will be displayed on our Facebook page Premier Competitions Ltd and/or our website and/or our Instagram page premiercompetitionsltd with the draw date and time included.
                     </li>
                     <li>
                           There will only be one winner per competition unless otherwise stated.
                     </li>
                  </ol>
                  <br>
                  <h4>7. Prize</h4>
                  <ol>
                     <li>
                           The Promoter owns any prize offered from the time the competition is live until successful handover is completed.
                     </li>
                     <li>
                           The Promoter does not imply or give any warranty or accept any valuation to the Prize or guarantee the roadworthiness in anyway shape or form. The Entrant must make up their own decision through their own enquiries and legal advice before entering the competition.
                     </li>
                     <li>
                           The prize will only be that as awarded at the time of the draw, no alternatives will be offered under any circumstance.
                     </li>
                     <li>
                           Collection of the prize is the sole responsibility of the winner, from the Promoter’s address unless otherwise agreed between the Promoter and the Winner.
                     </li>
                     <li>
                           The winner will be required to provide proof of identity and proof of entry into the competition at the time that the prize is collected.
                     </li>
                  </ol>
                  <br>
                  <h4>8. Miscellaneous</h4>
                  <ol>
                     <li>
                           The Winner agrees to allow the Promoter to display his or her name on the Website in accordance with the Privacy Policy. The name and town of residence of the Winner will be posted on the Website for the purposes of announcing the Winner of the Competition within 24 hours of the Winner being determined.    
                     </li>
                     <li>
                           The Winner also agrees upon acceptance of the prize that they may be required to have Photo(s) and or video(s) taken for promotional purposes, both directly after their win and in any future promotional material.
                     </li>
                     <li>
                           Entrants authorise the Promoter to enter their personal details into their database and to use the information in accordance with the provisions of the Data Protection Act 1998 and subject to the terms of Privacy Policy.
                     </li>
                     <li>
                           The Promoter reserves the right to cancel the Competition at any time either before or after tickets have been sold. If the Competition is cancelled, the Promoter will return any Entry Fees paid to each Entrant (either by bank card refund or by cheque and in one combined payment where several entries have been made by a competitor or store credit). Where the Entry Fee is returned, the Promoter shall have no further liability to the Entrant or to any other person. 
                        </li>
                     <li>
                           Save for death or personal injury the Promoter will not be liable for any loss (including economic loss) suffered to or sustained by any person or property as a result of any act or omission of the Promoters, nor will their servants or their agents in developing, planning and Administrating the Competition, distributing the Prize to the Winner or following the distribution of the Prize; The Promoter accepts no liability for errors or omissions contained within the Prize details, description or specification or any other part of the Website. It is the responsibility of each Entrant (and in particular the Winner) to satisfy him/herself as to the accuracy of any such details and/or any content of this website.
                     </li>
                     <li>
                           The Promoter will not be liable for any loss suffered by an Entrant as a result of incomplete entries or failed computer communications or for any loss suffered as a result of use of the Website.
                     </li>
                     <li>
                           The Promoter does not accept responsibility for entries which they do not receive due to failures in computer systems, other malfunctions, high Internet traffic, hardware failure, software failure, server faults or any other reason.
                     </li>
                     <li>
                           These competition rules shall not create or be construed as creating any form of contract, joint venture or other agreement between any Entrant and the Promoters.
                     </li>
                     <li>
                           An entry shall be declared void (without any refund being given) if the entrant engages in: (a) any form of fraud (actual or apparent); (b) fraudulent misrepresentation; (c) fraudulent concealment; (d) hacking or interference with the proper functioning of the website; or (e) amending, or unauthorised use of, any of the code that constitutes the Website.
                     </li>
                     <li>
                           The Promoter reserves the right to amend these terms and conditions at any time. Any changes will be immediately published on the competition home page. 
                     </li>
                  </ol>     
               </p>
            </div>
         </div>
         <br>
         <div class="col-md-6">
            <h4>Premier Competitions Limited</h4>
               Address:
               <br>
               71 Glendale 
               <br>
               Leixlip 
               <br>
               Co Kildare
               <br>
               W23V338
               <br>
               Ireland 
               <br>
               <br>
         </div>
      </div>
   </section>

{% endblock %}